<!DOCTYPE html>
<html class="no-js" ng-app="app">

<head>
  <title>Rally Powerup</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://trello.com/power-ups/power-up.css">
  <script src="https://trello.com/power-ups/power-up.min.js"></script>

  <style>
    .loader {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 100;
      opacity: .3;
      top: 0;
      left: 0;
      background-color: #000;
    }

    ul {
      list-style: none;
      margin:0;
      padding:0;
    }
    #newTaskInput{
      display:inline-block;
    }

    #addNewTaskButton{
      margin-left:10px;
    }
  </style>
</head>

<body ng-controller="tasksController as vm">
  <ul ng-hide="vm.noTasks">
    <li ng-repeat="task in vm.tasks">
      <label for="{{task.ObjectID}}"><input type="checkbox" id="{{task.ObjectID}}" ng-change="vm.updateStatus(task)" ng-model="task.State" ng-checked="task.State" ng-true-value="'Completed'" ng-false-value="'In-Progress'"/> {{task.Name}}</label>
    </li>
    <li><input type="text" id="newTaskInput" ng-model="vm.newTask" /><button class="mod-primary" id="addNewTaskButton" ng-click="vm.addNewTask()">Add New Task</button></li>
  </ul>

  <div class="no-tasks" ng-show="vm.noTasks">No tasks for this card.</div>

  <script src="/web/build/bundle.js"></script>
  <div class="loader" ng-show="vm.loader"></div>
</body>

</html>
