<!DOCTYPE html>
<html class="no-js" ng-app="app">
<head>
  <title>Rally Powerup</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://trello.com/power-ups/power-up.css">
  <script src="https://trello.com/power-ups/power-up.min.js"></script>
</head>
<body ng-controller="tasksController as vm">
  <table>
    <tr>
      <th>Status</th>
      <th>Name</th>
      <!--<th>Hours</th>-->
    </tr>
    <tr ng-repeat="task in vm.tasks">
      <td><input type="checkbox" id="{{task.ObjectID}}" ng-change="vm.updateStatus(task)" ng-model="task.State" ng-selected="task.State === 'Completed'"/></td>
      <td><label for="{{task.ObjectID}}">{{task.Name}}</label></td>
      <!--<td><input type="number" ng-change="vm.updateHours(task)" ng-model="task.Actuals"/></td> -->
  </table>

  <script src="/web/build/bundle.js"></script>
</body>
</html>
